.spinner1 {
  border: 5px solid #f3f3f300; /* Light grey */
  border-top: 5px solid #000000;
  border-bottom: 5px solid #000000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
